#!/usr/bin/env bash

API_BASE_URL="https://api.hariharibol.com"
GOOGLE_SERVER_CLIENT_ID=""
GOOGLE_IOS_CLIENT_ID=""

# Add more values as needed, for example:
# EXTRA_DART_DEFINES+=(FEATURE_FLAG=true)
EXTRA_DART_DEFINES=()
