node_modules
npm-debug.log
dist
build
.env
.env.*
.env.local
.env.*.local
.git
.gitignore
.next
.vscode
.idea
.DS_Store
coverage
.nyc_output
.turbo
docker-compose.yml
README.md
LICENSE
*.md
.editorconfig
.eslintignore
.prettierignore
.github
jest.config.js
.swc
.turbo
